.env
*.md
*.exe
/.idea
/logs
/discordgo
/Other
NOTE
affected games
qodana.yaml
qodana.sarif.json
notes
/.sonarlint
/other capstuff
config.env
misc/acti auths.js
/misc
ideas.txt
activision code.txt
/newconfig.env
/drawio
/admin_api.json
admin_api.json
issues.txt